.box {
  position: relative;
  text-align: center;
  background-color: #333333;
  width: 480px;
  height:100%;
  margin: 0 auto;
}
.text-position {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

